<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guitarista.citem" >
    <!--below is the code for webview, yeah the 1 liner-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--from here-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MANILA FAME"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="MANILA FAME"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.example.guitarista.citem.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashScreen"
            android:label="MANILA FAME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>